@import 'modules/_typography';
@import 'modules/palette';



@import 'audio';

body {
    margin: 0;
    padding: 0;
}

// Remove <figure> margin
.interactive {
    margin: 0;

    @media ( max-width: breakpoints(mobile) ) {
        // Do something..
    }
}


